#fridge{
  background:#CCC;
  width:2000px;
  height:2000px;
  position:relative;
  overflow:hidden;
}
html,body{
  overscroll-behavior: none;
}
::-webkit-scrollbar { 
  
}
.magnet{
  background:#FFF;
  position:absolute;
  display:inline-block;
  padding:5px;
  border:1px solid #CCC;
  transition:.3s ease all;
  cursor:move;
}
.magnet-placeholder{
  background:#FFF;
  position:absolute;
  display:inline-block;
  padding:5px;
  border:1px solid #CCC;
  pointer-events:none;
  cursor:move;
  display:none;
  z-index:9999;
  box-shadow:0px 0px 3px 0px rgba(0,0,0,.25);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.pad-top{
  padding:40px;
}
#fridge.dragging .pop-button,
#fridge.dragging .magnet{
  pointer-events: none;
}
#fridge.dragging .magnet-placeholder{
  display:block;
}
.chat{
  z-index:10;
  position:absolute;
  top:0;
  left:0;
}
.pop-panel{
  position:fixed;
  width:100vw;
  bottom:10px;
  right:10px;
  z-index:1000;

}
.pop-button{
  float:right;
}
.pop-button-icon:hover {
  border-color:#888;
  opacity:1;
}
.pop-button.open .pop-button-icon{
  box-shadow:0px 0px 0px 2px rgb(31, 210, 255);
  opacity:1;
}
.pop-button.open .pop-button-action{
  display:block;
}
.pop-button-icon{
  box-shadow:0px 0px 0px 0px rgb(31, 210, 255);
  transition:.2s ease all;
  width:50px;
  height:50px;
  background:#FFF;
  border:1px solid #AAA;
  cursor:pointer;

  text-align:center;
  opacity:.8;
  border-radius:50px;
}
.pop-button-icon i{
  color:#888;
  font-size:30px;
  line-height:45px;
}
.pop-button-icon .badge{
  position:absolute;
  left:-3px;
  top:-3px;
}
.pop-button-action{
  display:none;
  position:relative;
}
.pop-button-panel{
  padding:5px;
  width:300px;
  position:absolute;
  right:0px;
  top:-320px;
  background:#FFF;
  border:1px solid #888;
  border-radius:8px;
}
.chat-messages{
  overscroll-behavior: none;
  border:1px solid #ced4da;
  margin-bottom:5px;
  border-radius:5px;
  height:200px;
  overflow-y:scroll;
}
.chat-message{
  padding:2px 5px;
  border-bottom:1px solid #EEE;
}
.chat-message:last-child{
  border:none;
}
.chat-user{
  font-weight:bold;
}
#chat-text{
  font-size:16px;
}
.pop-button-panel:after, .pop-button-panel:before {
	top:100%;
	right: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pop-button-panel:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
}
.pop-button-panel:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #888;
  border-width: 11px;
  margin-right:-1px
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:300px;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid rgb(31, 210, 255);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(31, 210, 255) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}